* {
  margin: 0;

}
.main {
  margin-bottom: 0.99rem;
  box-sizing:border-box;
  background-color:#f4f4f4;
  font-family:PingFangSC-Light,helvetica,'Heiti SC'
}
.banner {
  width: 6.4rem;
  height: 3.56rem;
}
.m-menu {
  display: flex;
  height: 1.79rem;
  width: 6.4rem;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.m-menu .item {
  flex: 1;
  display: block;
  padding: 0.2rem 0;
}
.m-menu img {
  display: block;
  width: 0.57rem;
  height: 0.57rem;
  margin: 0 auto;
  margin-bottom:0.1rem;
}
.m-menu span {
  display: block;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
  color: #333;
}

.a-section {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
  background: #fff;
  color: #333;
  margin-top: 0.2rem;
}
.a-section .h {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 1.11rem;
}
.a-section .h .txt {
  padding-right: 0.256rem;
  background: url(###) right 2px no-repeat;
  background-size: 0.14rem 0.23rem;
  display: inline-block;
  height: 0.31rem;
  font-size: 16.5px;
  line-height: 0.31rem;
}
.a-brand .c {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
  position: relative;
}
.a-brand .wrap {
  position: relative;
}
.a-brand .img {
  position: absolute;
  left: 0;
  top: 0;
}
.a-brand .mt {
  position: absolute;
  z-index: 2;
  padding: 0.23rem 0.26rem;
  left: 0;
  top: 0;
}
.a-brand .mt .brand {
  display: block;
  font-size: 16.5px;
  height: 0.37rem;
  color: #333;
}
.a-brand .mt .price, .a-brand .mt .unit {
  font-size: 12.5px;
  color: #999;
}
.a-brand .item-1 {
  float: left;
  width: 3.19rem;
  height: 2.15rem;
  overflow: hidden;
  border-top: 0.02rem solid #fff;
  margin-left: 0.02rem;
}
.a-brand .item-1:nth-child(2n+1){
  margin-left: 0;
  width: 3.19rem;
}
.a-brand .item-1 .img {
  width: 3.19rem;
  height: 2.15rem;
}
.a-new .c {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
  padding: 0 0.26rem 0.38rem 0.26rem;
}
.a-new .c .item {
  float: left;
  width: 2.58rem;
  margin-top: 0.085rem;
  margin-left: 0.18rem;
  margin-right: 0.18rem;
}
.a-new .c .item-b {
  margin-left: 0.36rem;
}
.a-new .c .img {
  width: 2.58rem;
  height: 2.58rem;
}
.a-new .c .name {
  text-align: center;
  display: block;
  width: 2.58rem;
  height: 0.3rem;
  margin-bottom: 0.12rem;
  overflow: hidden;
  font-size: 15px;
  color: #333;
}
.a-new .c .price {
  display: block;
  text-align: center;
  line-height: 0.256rem;
  font-size: 15px;
  color: #b4282d;
}

.a-popular {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
}

.a-popular .c .item {
  border-top: 0.02rem solid #d9d9d9;
  margin: 0 0.2rem;
  height: 2.25rem;
  width: 6.01rem;
}

.a-popular .c .img {
  margin-top:0.1rem;
  margin-right:0.1rem;
  float: left;
  width: 2.05rem;
  height: 2.05rem;
}

.a-popular .c .right {
  float: left;
  height: 2.25rem;
  width: 3.86rem;
  display: flex;
  flex-flow: row nowrap;
}

.a-popular .c .text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 2.25rem;
  width: 3.89rem;
}

.a-popular .c .name {
  width: 3.89rem;
  display: block;
  color: #333;
  line-height: 0.43rem;
  font-size: 15px;
}

.a-popular .c .desc {
  width: 3.89rem;
  display: block;
  color: #999;
  line-height: 0.43rem;
  font-size: 12.5px;
}

.a-popular .c .price {
  width: 3.89rem;
  display: block;
  color: #b4282d;
  line-height: 0.43rem;
  font-size: 16.5px;
}

.a-topic .c {
  height: 4,55rem;
  width: 6.4rem;
  padding: 0 0 24px 0;
}

.a-topic .c .list {
  height: 4,55rem;
  width: 6.4rem;
  white-space: nowrap;
}

.a-topic .c .item {
  display: inline-block;
  height: 4,55rem;
  width: 5.81rem;
  margin-left: 0.256rem;
  overflow: hidden;
}

.a-topic .c .item:last-child {
  margin-right: 0.256rem;
}

.a-topic .c .img {
  height: 3.31rem;
  width: 5.81rem;
  margin-bottom: 0.256rem;
}

.a-topic .c .np {
  height: 0.3rem;
  margin-bottom: 0.12rem;
  color: #333;
  font-size: 15px;
}

.a-topic .c .np .price {
  margin-left: 0.17rem;
  color: #b4282d;
}

.a-topic .c .desc {
  display: block;
  height: 0.256rem;
  color: #999;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.good-grid {
  width: 6.4rem;
  height: auto;
  overflow: hidden;
}

.good-grid .h {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 1.11rem;
  font-size: 16.5px;
  color: #333;
}

.good-grid .c {
  width: 6.4rem;
  padding: 0 0.05rem;
  height: auto;
  overflow: hidden;
}

.good-grid .c .item {
  float: left;
  background: #fff;
  width: 3.11rem;
  margin-bottom: 0.05rem;
  height: 3.86rem;
  overflow: hidden;
  text-align: center;
}

.good-grid .c .item .a{
  height: 3.86rem;
  width: 100%;
}

.good-grid .c .item-b {
  margin-left: 0.05rem;
}

.good-grid .item .img {
  margin-top: 0.2rem;
  width: 2.58rem;
  height: 2.58rem;
}

.good-grid .item .name {
  display: block;
  width: 3.12rem;
  padding: 0 0.2rem;
  overflow: hidden;
  height: 15px;
  margin:0.1rem 0 0.19rem 0;
  text-align: center;
  font-size: 15px;
  color: #333;
}

.good-grid .item .price {
  display: block;
  width: 3.12rem;
  height: 0.256rem;
  text-align: center;
  font-size: 15px;
  color: #b4282d;
}

.good-grid .more-item{
  height: 100%;
  width: 100%;
}

.more-a{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.good-grid .more-a .txt{
  height: 0.28rem;
  width: 100%;
  line-height: 0.28rem;
  color: #333;
  font-size: 16.5px;
}

.good-grid .more-a .icon{
  margin: 0.51rem auto 0 auto;
  width: 0.6rem;
  height: 0.6rem;
}
